<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserName" value="deepu.mathew@cybertech.com"/>
		<add key="Password" value="deepuma"/>
		<add key="TimeOut" value="90"/>
		<add key="OperatingSystem" value="Windows7"/>
		<add key="Browser" value="InternetExplorer"/>
		<!--<add key="Browser" value="Firefox"/>-->
		<!--<add key="Browser" value="Chrome"/>-->
		<add key="BaseUrl" value="http://csslesxi2-vm26.cybertech.com/Middlesex_portal/"/>
		<add key="SeleniumCommonFilesFolder" value="C:\Users\deepum\Desktop\Driver"/>
	</appSettings>
</configuration>